html {font-family: Roboto;}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.medalBox {border-top:2px solid navy;}
.countries {float:left;}
.country {
  width:min-content;
  border: 2px solid navy;
  border-radius: 5px;
  margin:10px 50px;
}
.name {
  display:inline;
  width:min-content;
  margin:10px;
}
.medals {
  display:flex;
  align-items: center;
  margin:10px;
}
.medal {
  display:flex;
}

.incrementMedalBtn {
  margin:10px;
}
.totals {
  float:right;
  margin-right:100px;
}